* {margin: 0;padding: 0;}

html{background: #fff9f8;}
body{font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; line-height: 1; color: #2f2f2f;}


/*Set HTML5 type for all new element*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* link */
a{color: #2bb9d3; text-decoration: none; border: none;}
a:hover,a:active,a:visited{color: #2397ad;text-decoration: none; border: none; cursor:pointer}
a img{border:none;}

/* paragraphe */
p{margin:0;padding:5px;}

/* Title */
h1,h2,h3,h4,h5,h6{ font-weight: bold; line-height: 1.5;}
h1{font-size: 3em;}
h2{font-size: 2.5em;}
h3{font-size: 2em;}
h4{font-size: 1.8em;}

/* List */
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}