/***
* POSITIONEMENT
***/


a.link{color: #33B5E5;}
a.link:hover,a.link:active,a.link:visited{color: #0099CC;}

/* Backgrounds */
.bg_stripes {
    background: url('data:image/png;base64,R0lGODlhCAAIAJEAAMzMzP///////wAAACH5BAEHAAIALAAAAAAIAAgAAAINhG4nudroGJBRsYcxKAA7') repeat top left transparent;
}
.bg_semidark-stripes {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEUAAAByhZPd4KsBAAAAAXRSTlMAQObYZgAAABBJREFUCB1j7mBmAMMGCA0ADGABIWqZDyIAAAAASUVORK5CYII=') repeat top left transparent;
}
.bg_dark-stripes {
    background: url('data:image/png;base64,R0lGODlhCAAIAIABAFVVVf///yH5BAEHAAEALAAAAAAIAAgAAAINRG4XudroGJBRsYcxKAA7') repeat top left transparent;
}
.pattern-wood {
    background-image: url('../img/bg_pattern/retina_wood.png');
}
.pattern-arches {
    background-image: url('../img/bg_pattern/arches.png');
}
.pattern-cubes {
    background-image: url('../img/bg_pattern/cubes.png');
}
.pattern-debut_dark {
    background-image: url('../img/bg_pattern/debut_dark.png');
}
.pattern-denim {
    background-image: url('../img/bg_pattern/denim.png');
}
.pattern-evolution {
    background-image: url('../img/bg_pattern/hixs_pattern_evolution.png');
}
.pattern-linen {
    background-image: url('../img/bg_pattern/low_contrast_linen.png');
}
.pattern-navy {
    background-image: url('../img/bg_pattern/navy_blue.png');
}
.pattern-vaio_edge {
    background-image: url('../img/bg_pattern/vaio_hard_edge.png');
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    /* Retina-specific stuff here */

    .pattern-wood {
        background-image: url('../img/bg_pattern/retina_wood_@2X.png');
    }
    .pattern-arches {
        background-image: url('../img/bg_pattern/arches_@2X.png');
    }
    .pattern-cubes {
        background-image: url('../img/bg_pattern/cubes_@2X.png');
    }
    .pattern-debut_dark {
        background-image: url('../img/bg_pattern/debut_dark_@2X.png');
    }
    .pattern-denim {
        background-image: url('../img/bg_pattern/denim_@2X.png');
    }
    .pattern-evolution {
        background-image: url('../img/bg_pattern/hixs_pattern_evolution_@2X.png');
    }
    .pattern-linen {
        background-image: url('../img/bg_pattern/low_contrast_linen_@2X.png');
    }
    .pattern-navy {
        background-image: url('../img/bg_pattern/navy_blue_@2X.png');
    }
    .pattern-vaio_edge {
        background-image: url('../img/bg_pattern/vaio_hard_edge_@2X.png');
    }

}

/*Shadows*/
.shadow{
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.t-shadow{
    -webkit-text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/*Class permetant la Gestion des flaot dans le dom*/
.fr{float: right;}
.fl{float: left;}
.clb{clear: both;}
.cll{clear: left;}
.clr{clear: right;}

/*Class permetant la Gestion des Taxt-Align dans le dom*/
.align-left{text-align: left}
.align-right{text-align: right}

/*Class permetant la gestion des Absolut dans le dom*/
.fixed{position:fixed;}
.static{position:static;}
.abs{position:absolute;}
.relative{position:relative;}

/*Class to fix position on absolute*/
.top{top:0;}
.bottom{bottom:0;}
.left{left:0;}
.right{right:0;}

.zi0{z-index:0;}
.zi2{z-index:2;}
.zi3{z-index:3;}
.zi4{z-index:4;}
.zi5{z-index:5;}
.zi6{z-index:6;}
.zi7{z-index:7;}
.zi8{z-index:8;}
.zi9{z-index:9;}
.zih{z-index:9999;}

/*
 * COMPOSANT
 ***/

/* Row & Size */


.row {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: "";
}

.row:after {
    clear: both;
}

.row > [class*="size"]:first-child {
    margin-left: 0;
}

[class^="size"],
[class*=" size"]{
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row > [class^="size"],
.row > [class*=" size"]{
    min-height: 30px;
    margin-left: 3.8%;
    float: left;
}

.thumbnail .row{
    margin-top : 0;
}

.size1 {
    width: 4.85%;
}

.size2 {
    width: 13.45%;
}

.size3 {
    width: 22.05%;
}

.size4 {
    width: 30.75%;
}

.size5 {
    /* default. FF is evil and calculates this differently due to borders.
    width: 39.45%;*/
    width: 39.3%;
}

.size6 {
    width: 48%;
}

.size7 {
    width: 56.75%;
}

.size8 {
    width: 65.4%;
}

.size9 {
    width: 74.05%;
}

.size10 {
    width: 82.6%;
}

.size11 {
    width: 91.35%;
}

.size12 {
    width: 100%;
}

/*Pictos*/
[class^="picto-"],
[class*=" picto-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right:3px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: middle;
    background: url('../img/Icons-16px.png') no-repeat top left transparent;
}
a [class^="picto-"],
a [class*=" picto-"] {
    opacity: 0.5;
}
a:hover [class^="picto-"],
a:hover [class*=" picto-"] {
    opacity: 0.7;
}

.picto-white, .btn:hover [class*="picto-"] {
    background-image: url('../img/Icons-16px-white.png');
}

.picto-user {
    background-position: -84px -124px;
}
.picto-paper {
    background-position: -52px -285px;
}
.picto-lab {
    background-position: -20px -412px;
}
.picto-cube {
    background-position: -340px -188px;
}
.picto-tag {
    background-position: -147px -60px;
}
.picto-cote {
    background-position: -404px -476px;
}
.picto-rarrow {
    background-position: -564px -637px;
}
.picto-round-rarrow {
    background-position: -52px -508px;;
}
.picto-arrow-back {
    background-position: -180px -476px;
}
.picto-arrow-relunch {
    background-position: -84px -574px;
}

/* Stiliz Date for Article*/
.post-date{
    display: block;
    width: 50px;
    font-family: Iceland, Arial, sans serif;
    font-size: 13px;
    text-align: center;
    background: #555;
    border: 1px solid #666;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}.post-date .d{
     font-size: 45px;
     line-height: 30px;
 }.post-date .m{
      font-size: 30px;
      font-weight: bold;
  }


/*Styling border effect*/
[class^="brd"],
[class*=" brd"]{ border: 1px solid #bdbdbd;}
[class^="brd1"],
[class*=" brd1"]{ border: 3px solid #bdbdbd;}
[class^="brd2"],
[class*=" brd2"]{ border: 5px solid #bdbdbd;}

[class^="brd"][class*="-top"],
[class*=" brd"][class*="-top"],
[class^="brd"][class*="-bottom"],
[class*=" brd"][class*="-bottom"]{ border-left: 0; border-right: 0;}

[class^="brd"][class*="-bottom"],
[class*=" brd"][class*="-bottom"]{ border-top: 0;}

[class^="brd"][class*="-top"],
[class*=" brd"][class*="-top"]{ border-bottom: 0;}

[class^="brd"][class*="-right"],
[class*=" brd"][class*="-right"],
[class^="brd"][class*="-left"],
[class*=" brd"][class*="-left"]{ border-top: 0; border-bottom: 0;}

[class^="brd"][class*="-right"],
[class*=" brd"][class*="-right"]{ border-left: 0;}

[class^="brd"][class*="-left"],
[class*=" brd"][class*="-left"]{ border-right: 0;}

/*Default color on borders*/
[class^="brd"][class*="-red"],
[class*=" brd"][class*="-red"]{border-color: #FF4444;}

[class^="brd"][class*="-blue"],
[class*=" brd"][class*="-blue"]{border-color: #33B5E5;}

[class^="brd"][class*="-green"],
[class*=" brd"][class*="-green"]{border-color: #99CC00;}

[class^="brd"][class*="-orange"],
[class*=" brd"][class*="-orange"]{border-color: #FFBB33;}

[class^="brd"][class*="-purple"],
[class*=" brd"][class*="-purple"]{border-color: #AA66CC;}

[class^="brd"][class*="-light"]::after,
[class*=" brd"][class*="-light"]::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* buttons */
.btn {
    border-top: 1px solid #96d1f8;
    background: #33B5E5;
    background: -webkit-gradient(linear, left top, left bottom, from(#3696d6), to(#3086bf));
    background: -webkit-linear-gradient(top, #3696d6, #3086bf);
    background: -moz-linear-gradient(top, #3696d6, #3086bf);
    background: -ms-linear-gradient(top, #3696d6, #3086bf);
    background: -o-linear-gradient(top, #3696d6, #3086bf);
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.btn:hover {
    border-top-color: #c98a1e;
    background: #c98a1e;
    color: #ffffff;
}
.btn:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

/* Tip */
.tip > span {
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -4em;
    width: 7em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 3px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: text;
    -webkit-user-select: text;
    user-select: text;
}
.tip > span::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -16px;
    border: 8px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
    width: 0;
    height: 0;
    margin-left: -8px;
}
.tip:hover > span{
    display: block;
}


/* List */




/* Inline List */

ul.inline-list {
    list-style: none;
    padding:0
}

ul.inline-list li {
    margin: 0 0 0 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

ul.inline-list .divider {
    padding: 0 5px;
}

/*Inline List for Tags*/

ol.inline-tags {
    background: #fff;
    list-style: none;
    padding: 5px;
    padding:0
}
ol.inline-tags li {
    margin: 1px 0 4px 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
ol.inline-tags li a {
    float: left;
    padding: 5px 10px 6px 25px;
    font-weight: normal;
    color: #fff;
    background: #bbb url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAqCAYAAACz+XvQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOhJREFUeNq0l0EKAjEMRfu7EOYYgmfwGLMSXHlFd+IlPIgouHT7DerITFGZtD+Bv2nh0bQ/bQpaJGHkpA0ogVCuEMqUodxDKA8FylOG0jZQ+hBKY0NZKVCWHpS1DOXlgBo/ZSXsFxAttZiVsBLoga1Ne9PRtJ3M8BXJoZXpzmn0w3yuSHNj6oqxXcvlcP0ydm5JuTOdRuleTMthHqNn1JP6wtS/Uz+Ybp+TLd5lqW2eOxDx0FMNbIL+sw3VwCroHGNTDXRBPaVHNXAWtOZyYEQHy4iWmBE9NiOadkb8AhjxrWDEP4UPAQYAZWOljvrVwAcAAAAASUVORK5CYII=') no-repeat 0 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
ol.inline-tags li a:hover,
ol.inline-tags li a:focus {
    background-color: #999;
}
ol.inline-tags li a:active {
    background-color: #ccc;
}

/* Breadcrumbs*/
.breadcrumb {
    padding: 15px 20px;
    margin: 0 0 20px;
    list-style: none;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.breadcrumb li {
    display: inline-block;
    *display: inline;
    text-shadow: 0 1px 0 #ffffff;
    *zoom: 1;
}

.breadcrumb .divider {
    padding: 0 5px;
    color: #ccc;
}

.breadcrumb .active {
    color: #999999;
}

.breadcrumb a{color: #33B5E5;}
.breadcrumb a:hover,a.link:active,a.link:visited{color: #0099CC;}

/* thumnails */

ul.thumbnails {
    padding:0;
    margin-left: -2%;
    list-style: none;
    *zoom: 1;
}

.thumbnails:before,
.thumbnails:after {
    display: table;
    line-height: 0;
    content: "";
}

.thumbnails:after {
    clear: both;
}

.row-fluid .thumbnails {
    margin-left: 0;
}

.thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 2%;
}

.thumbnail {
    display: block;
    padding: 1px;
    line-height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a.thumbnail:hover {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.thumbnail > img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.thumbnail .caption {
    padding: 9px;
    color: #555555;
}


/* Nav Bar */

[class*=" nav-bar"],
[class^="nav-bar"]{
    width:100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    overflow: visible;

    z-index: 99;

    min-height: 45px;
    background: #F9F9F9;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}


[class*="nav-bar"]:before,
[class*="nav-bar"]:after {
    display: table;
    line-height: 0;
    content: "";
}

[class*="nav-bar"]:after {
    clear: both;
}

[class*="nav-bar"] nav{
    float: left;
    min-height: 45px;
}

.nav-bar-fixed{
    position: fixed;
    z-index: 999;
    top: 0;
}

[class*="nav-bar"] ul li{
    line-height: 45px;
    margin-left: 0;

    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
[class*="nav-bar"] ul li span.separator{
    border-right: 1px solid #bdbdbd;
}
[class*="nav-bar"] nav li a{
    color: #444;
    padding: 10px 10px;
}
[class*="nav-bar"] nav li a i{
    margin-right: 5px;
}
[class*="nav-bar"] nav li:hover a,
[class*="nav-bar"] nav li.active:hover a{
    color: #33B5E5;
}
[class*="nav-bar"] nav li.active a{
    border-top: 5px solid #33B5E5;
}

/* Browser List */

/*
 *
 *
 *
    <span class="browsers">
        <span class="browser opera "><span class="browser_name">Opera</span><span class="support">unsupported</span></span>
        <span class="browser ie "><span class="browser_name">IE</span><span class="support">unsupported</span></span>
        <span class="browser safari supported"><span class="browser_name">Safari</span><span class="support">unsupported</span></span>
        <span class="browser ff "><span class="browser_name">Firefox</span><span class="support">unsupported</span></span>
        <span class="browser chrome supported"><span class="browser_name">Chrome</span><span class="support">supported</span></span>
    </span>
 *
 */
.browsers {
    margin: 0 1.5em;
    height: 18px;
}
.browser {
    float: left;
    height: 17px;
    width: 17px;
    background: transparent url(http://1-ps.googleusercontent.com/x/s.html5rocks-hrd.appspot.com/www.html5rocks.com/static/images/browser_logos.png.pagespeed.ce.z_HVNR5Lmv.png) no-repeat left top;
    opacity: 0.25;
    margin: -1px 0.25em 0 0;
    position: relative;
}

.browser:hover .browser_name, .browser:focus .browser_name {
    opacity: 1;
}

.browser.supported {
    opacity: 1;
}
.browser .support {
    display: none;
}

.browser_name {
    background: transparent;
    color: #333;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    padding: 3px 5px;
    position: absolute;
    top: -15px;
    left: 0;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: inline-block;
}
.browser_name {
    left: -3px;
}

.browser.opera {
    background-position: -69px top;
}
.browser.ie {
    background-position: -52px top;
}
.browser.safari {
    background-position: -35px top;
}
.browser.ff {
    background-position: -17px top;
}
.browser.chrome {
    background-position: left top;
}

/* Tiling */
.tiling{
    width: 100%;

}

.tiling-row{
    width: 100%;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;

    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-align: stretch;

    display: box;
    box-orient: horizontal;
    box-align: stretch;
}

[class^="tile"],
[class*=" tile"]{
    background: #f7f7f7;

    margin-left: 10px;
    margin-left: 0\9;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;

    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

}
.tile-noblock{
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

[class^="tile"] > *,
[class*=" tile"] > *{

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

.tile-picture {
    min-height: 150px;
}.tile-picture img{
     min-width: 100%;
     height: auto;
     max-height: none;
     max-width: none;
     width: auto;
 }

.tiling-row [class^="tile"]:first-child,
.tiling-row [class*=" tile"]:first-child{
    margin: 0;
    margin-bottom: 10px;
}


.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 999;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.4);
    background-color: rgb(46, 46, 46)\9;
    *background-color: rgb(46, 46, 46);
}

.modal {
    position: fixed;
    z-index: 1050;
    top: 50%;
    left: 50%;
    display: block;

    width: 560px;
    margin: -180px 0 0 -280px;
    min-width: 280px;

    color: #fff;
    background: #292829;
    overflow: hidden;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.modal > h1 {
    padding: 7px 15px 7px;
    color: #33B5E5;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #33B5E5;
}

.modal > .footer {
    margin-top: 15px;
    border-top: 1px solid #505050;
    overflow: hidden;
    clear: both;
}

.modal > .footer span {
    display: block;
    float: left;
    width: 50%;
}

.modal > .footer span a {
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

.modal > .footer span a:hover {
    background: #0099CC;
    color: #fff;
}

.modal > .footer span:first-child a{
    border-right: 1px solid #505050;
}

/*
 * TRICK CSS
 ***/

/*use that on body with script to desabled transition on load*/
/*
 *
    $("window").load(function() {
      $("body").removeClass("preload");
    });
 *
 *
 */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


/*
 * BLOCK
 ***/

.container{ width: 980px; margin-left: auto; margin-right: auto; clear:both; position: relative}
.container-fluid{ width:100%; margin-left: 0; margin-right: 0; clear:both;}

.unit{
    margin-top: 20px;
    padding: 10px;
    background: #fcfcfc;
    /*
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAYAAADN5B7xAAAACXBIWXMAABwgAAAcIAHND5ueAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAA8SURBVHjaYvz//z8DKYCJgURAuQZGRkYZvHx0PzAyMjLg8xfJTmIkO5QYGRllGBkZcZsM9QsAAAD//wMAQXEMhHt06fQAAAAASUVORK5CYII=') repeat top left #fafafa;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    */
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.row.unit{
    width: auto;
}


.box {
    position:  absolute;
    padding: 5px;

    color: #fff;
    font-size: 9px;
    font-weight: normal;

    background-color: rgba(0,0,0,0.4);
    background-color: rgb(46, 46, 46)\9;
    *background-color: rgb(46, 46, 46);
}

img, object, embed {
    max-width: 100%;
}

img {
    height: auto;
}