
/*
 * MODULE CSS HEXA - positionnement d'élement sur un cadrillage en fuite
 ***/

/* - exemple html
 *
 *
 *
 *
    <div class="hexa hexa-size5">
        <div class="hexa-row">
            <div class="hexa-shape-circle">
                <img src="http://src.rlienard.fr/common/img/default.png"/>
            </div>
            <div class="hexa-shape-circle offset2">
                <img src="http://src.rlienard.fr/common/img/default.png"/>
            </div>
            <div class="hexa-shape-circle">
                <img src="http://src.rlienard.fr/common/img/default.png"/>
            </div>
        </div>
        <div class="hexa-row">
            <div class="hexa-shape-circle offest1">
                <img src="http://src.rlienard.fr/common/img/default.png"/>
            </div>
            <div class="hexa-shape-circle">
                <img src="http://src.rlienard.fr/common/img/default.png"/>
            </div>
            <div class="hexa-shape-circle">
                <img src="http://src.rlienard.fr/common/img/default.png"/>
            </div>
        </div>
    </div>
*
*
*
*
*/

.hexa{
    clear: both;
    width: 100%;
}

.hexa-row{
    margin-bottom: 0;
    min-height: 1px;
}

[class*=" hexa-shape"],
[class^="hexa-shape"]{
    float: left;
    min-height: 1px;
    position: relative;
}

/*
.hexa[class*="hexa-size"],
.hexa[class^=" hexa-size"]{
    width: 100%;
}*/

/* Gestion for 4 cols
*/
.hexa-size4 .offset1{
    margin-left: 24%;
}
.hexa-size4 .offset2{
    margin-left: 48%;
}
.hexa-size4 .offset3{
    margin-left: 72%;
}

.hexa-size4 .hexa-row{
    margin-left: 10.5%;
    margin-right: -10.5%;
    width: 88%;
}

.hexa-size4 [class*=" hexa-shape"],
.hexa-size4 [class^="hexa-shape"]{
    width: 24%;
    margin-top: -6.5%;
}

/* Gestion for 5 cols
*/
.hexa-size5 .offset1{
    margin-left: 19%;
}
.hexa-size5 .offset2{
    margin-left: 38%;
}
.hexa-size5 .offset3{
    margin-left: 57%;
}
.hexa-size5 .offset4{
    margin-left: 76%;
}

.hexa-size5 .hexa-row{
    margin-left: 8.6%;
    margin-right: -8.6%;
    width: 90.5%;
}

.hexa-size5 [class*=" hexa-shape"],
.hexa-size5 [class^="hexa-shape"]{
    width: 19%;
    margin-top: -5%;
}

/* Gestion for 6 cols
*/
.hexa-size6 .offset1{
    margin-left: 16.66666666667%;
}
.hexa-size6 .offset2{
    margin-left: 33.33333333334%;
}
.hexa-size6 .offset3{
    margin-left: 50.00000000001%;
}
.hexa-size6 .offset4{
    margin-left: 66.66666666667%;
}
.hexa-size6 .offset5{
    margin-left: 83.33333333334%;
}

.hexa-size6 .hexa-row{
    margin-left: 7.6%;
    margin-right: -7.33333333335%;
    width: 91.55555555555%;
}

.hexa-size6 [class*=" hexa-shape"],
.hexa-size6 [class^="hexa-shape"]{
    width: 16.66666666667%;
    margin-top: -4.4%;
}


.hexa-row:nth-child(odd){/* :nth-child(odd) Compatibilité all !IE */
    margin-left: 0;
    margin-right: 0;
}
[class*=" hexa-shape"]:before,
[class^="hexa-shape"]:before,
[class*=" hexa-shape"]:after,
[class^="hexa-shape"]:after {
    display: table;
    line-height: 0;
    content: "";
}

[class*=" hexa-shape"]:after,
[class^="hexa-shape"]:after {
    clear: both;
}

[class*=" hexa-shape"] img,
[class^="hexa-shape"] img{
    width:100% ;
}

.hexa-shape-circle{
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;

    overflow: hidden;
}

.hexa-row:first-child [class*=" hexa-shape"],
.hexa-row:first-child [class^="hexa-shape"]{
    margin-top:0;
}

.hexa-row:before,
.hexa-row:after {
    display: table;
    line-height: 0;
    content: "";
}
.hexa-row:after{
    clear: both;
}