

/* Large desktop */
@media (min-width: 1200px) {
    .container{
        width: 1200px;
    }

    /* Visibility */
    .show-tab { display: none }
    .show-phone { display: none }
    .hidden-desktop { display: none }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .container{
        width: 700px;
    }

    /* Visibility */
    .hidden-tab { display: none }
    .show-phone { display: none }
    .hidden-desktop { display: none }
}

/* Landscape phone to portrait tablet to landscape and desktop */
@media (max-width: 979px) {
    .post-date{
        width: 40px;
        font-size: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    }
    .post-date .d{
         font-size: 32px;
         line-height: 23px;
    }
    .post-date .m{
          font-size: 22px;
          font-weight: bold;
    }
    .post-date .y{
        line-height: 12px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body{
        padding-top: 0 !important;
    }
    /* Container */

    .container{
        margin: 0 20px;
        width: auto;
    }
    .container-fluid{
        width: 100%;
    }

    /* Visibility */
    .hidden-tab { display: none }
    .hidden-phone { display: none }
    .show-desktop { display: none }

    /* Composants */

    .nav-bar-fixed{
        position: relative;
    }

    .tiling-row{
        display: block;
    }

    .row [class*="size"]{
        width: 100%;
        margin-left: 0;
        float: none;
    }


    ul.thumbnails{
        margin-left: 0;
    }

    .thumbnails > li {
        width: 100%;
        margin-left: 0;
        float: none;
    }

    .thumbnails > li:before,
    .thumbnails > li:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .thumbnails > li:after {
        clear: both;
    }

    [class^="tile"],
    [class*=" tile"]{
        margin-left: 0;
    }

    .modal {
        position: fixed;
        top: 20px;
        right: 20px;
        left: 20px;
        width: auto;
        margin: 0;;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    /*Visibility*/
    .hidden-phone { display: none }
    .show-tab { display: none }
    .show-desktop { display: none }
}
